/* Default font is Poppins */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    font-weight: 300;
}
/*  Video Wrap for background video and header*/
#video_wrap{
    font-family: 'Amatic SC', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Background Video Section */
#videoloop{
    position: relative;
    overflow: hidden;
}
/* Background video dimensions */
#videoloop video{
    max-height: 100%;
    width: 100%;
    height: 100%;
    top: 0;
}
/* Overlay on top of the Background Video */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%);
}
/* Header part of the webiste */
#website_header{
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
}
/* vertically aligining items centre in header */
.header-item{
    vertical-align: middle;
}
/* NavBar*/
.rh-navbar{
    height: 0;
    width: 100%; /*hide by default*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y:scroll;
    transition: height .5s;
}
#container{
    position: relative;
    background-color: #84BD00;
    opacity: 0.96;
}
/* Menu List CSS in the Menu Bar */
#menu_list{
    width: 100%;
    display: grid;
    place-items: center;
}
#menu_toggle_btn{
    cursor: pointer;
}
/* Close Icon CSS */
#close_navbar{
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bolder;
    top: 0;
    right: 0;
    font-size: x-large;
    cursor: pointer;
}
/* Signin and Search Input CSS */
.signin, .search-form{
    display: inline;
    margin: 0.5rem;
}
/* Website Logo CSS */
#website_logo{
    position: absolute;
    align-items: center;
    left: 0;
}
.website-logo{
    height: 100px;
    width: 100px;
    margin: 0 1rem;
}
/* Set Font and CSS for website Name */
.website-name{
    font-family: 'Finger Paint', cursive;
    display: inline;
    font-size: 48px;
}
/* Menu and Header Wrapper CSS */
.menu-header-wrapper{
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0;
}
/* Menu List Headings CSS */
.rh-submenu-title{
    text-decoration:underline;
    font-size: 48px;
}
.nested-submenu{
    font-size:x-large;
    display: contents;
}
/* CSS to hide the list bullets */
.nested-submenu-item{
    list-style-type: none;
    margin: 0.5rem 0.5rem;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}
/* Animation CSS on hover increase the font of each Sub Menu in the List */
li.nested-submenu-item:hover{
    font-size: xx-large;
    font-weight:bolder;
    cursor: pointer;
}
.color-lime-green{
    color: #84BD00;
}
/* Search Input CSS in the header */
#search_recipes{
    background: none;
    transition: .5s;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 300px;
    border: 2.5px solid #84BD00;
    outline: none;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Amatic SC', cursive;
}
#search_recipes::placeholder{
    color:white;
    font-weight: bolder;
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
}
#search_recipes::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
/* Card Wrapper for Most popular Recipe Cards and the tag line */
#card_wrap{
    height: 80%;
    bottom: 0;
    text-align: center;
}
/* Animation CSS */
.handwriting-animation{
    opacity: 0;
    animation: handwriting 2s linear forwards;
    font-size: 56px;
}
.tag-line{
    font-size: x-large;
}
@keyframes handwriting {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Scrollable card section CSS for Most Popular Recipes */
.scroll-x-card{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Most Popular Recipe Cards CSS */
.recipe-card{
    display: none;
    width: 40rem;
    height: 20rem;
    text-align: right;
    overflow: hidden;
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
}
/* Eahc Most Popular Recipe Card's Image  CSS  */
.recipe-card img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container with the image, possibly cropping it */
    position: relative;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
.recipe-card:hover img{
    transform: scale(1.2);
}
/* Overlay for the images in Most Popular Recipe Cards */
.recipe-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}
/* Most Popular Recipe Description CSS */
.recipe-desc{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Poppins', sans-serif;
}
.line1, .recipe-name, .chef-name{
    margin: 1rem;
}
.line1{
    color: #DC582A;
    font-size: medium;

}
.chef-name{
    font-size: small;
}
.recipe-name{
    font-size: xx-large;
    font-weight: 400;
}
/* Style for the navigation buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}

/* CSS for the Recipe Categogies Sections */
#category{
    text-align: center;
    margin: 2rem 10rem;
}
#category .row{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
#category .row-name{
    background-color: rgba(246, 120, 76, 1);
    padding: 0;
    border-radius: 0.5rem;
    color: white;
}
.row-image-wrap{
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.row-image-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
#row_grid_2{
    grid-column: span 2;
    grid-gap: 1rem;
}
#row_grid_3{
    gap: 1rem;
}
#lunch_img{
    grid-column: span 2;
}
#bf_img{
    grid-row: 2;
    grid-column: 1;
}
#desserts_img{
    grid-row: 2;
    grid-column: 2;
}
.row-image-wrap:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.7);
    transform: scale(1.2);
    z-index: 100;
    cursor: pointer;
}
.row-image-wrap .overlay{
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%);
}
.row-image-wrap figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#category .row-image-wrap figcaption{
    background-color: rgba(234, 170, 0, 0.8);

}
.row-image-wrap figcaption{
    font-weight: 600;
}

/* CSS for the Recipe By Sections */
#recipes_by{
    text-align: center;
    margin: 2rem 10rem;
}
#recipes_by .row{
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
#recipes_by .row-name{
    background-color: rgb(123 174 3);;
    padding: 0;
    border-radius: 0.5rem;
    color: white;
}
#recipes_by .row-image-wrap figcaption{
    background-color: rgba(196, 214, 0, 0.8);
}

.row-name{
    font-size: xx-large;
    font-weight: 400;
}
#recipe_grid2{
    grid-column: span 2;
    grid-gap: 1rem;
}
#recipe_grid2 figure:nth-child(1){
    grid-row: 1;
    grid-column: 1;
}
#recipe_grid2 figure:nth-child(2){
    grid-row: 1;
    grid-column: 2;
}
#recipe_grid2 figure:nth-child(2){
    grid-column: span 2;
    grid-row: 2;
}
.recipe-for-logos, .recipe-for-top, .recipe-for-images figure {
    align-items: center;
}
.recipe-for-logos img{
    height: 200px;
    width: 200px;
}
.view-more-link{
    margin-left: auto;
}