/* Extra Small Screen Styles (e.g., very narrow mobile devices) */
@media (max-width: 349px) {
    #website_logo {
        position: relative;
    }

    /* Adjust the logo size and spacing for extra small screens */
    .website-logo {
        height: 40px;
        width: 40px;
        margin: 0 0.3rem;
    }

    #header_container {
        display: flex;
        align-items: center;
    }

    .menu-header-wrapper img {
        height: 20px;
        width: 20px;
    }

    /* Adjust font size and spacing for extra small screens */
    .website-name {
        display: none;
        font-size: 20px;
        margin-right: 0.3rem;
    }

    /* Adjust padding for extra small screens */
    .category-item {
        padding: 0.3rem;
        font-size: xxx-small;
    }

    #card_wrap {
        height: 60%;
        bottom: 0;
        text-align: center;
    }

    /* Adjust card dimensions and font size for extra small screens */
    .recipe-card {
        width: 10rem; /* Take full width on extra small screens */
        height: 4rem;
        border-radius: 0.25rem;
    }

    .recipe-overlay {
        border-radius: 0.25rem;
    }

    .handwriting-animation {
        font-size: medium;
        margin: 0 !important;
    }

    .handwriting-animation h4,
    hr,
    .top-recipes-text {
        display: none;
    }

    .tag-line {
        font-size: xx-small;
    }

    /* Adjust search input width for extra small screens */
    #search_recipes {
        width: 150px;
        height: 30px;
        border-radius: 0.25rem;
    }

    #search_recipes::placeholder {
        font-weight: bold;
        font-size: x-small;
    }

    #card_wrap {
        justify-content: center;
        align-items: center;
    }

    #popular_recipes {
        margin: 0 !important;
    }

    .top-recipes-text {
        font-size: xxx-small;
        margin: 0;
        text-align: end !important;
    }

    .recipe-desc {
        top: 25%;
        bottom: 25%;
    }

    .line1,
    .recipe-name,
    .chef-name {
        margin: 0;
    }

    .line1{
        font-size: xx-small;
    
    }
    .chef-name{
        font-size: xx-small;
    }
    .recipe-name{
        font-size: large;
        font-weight: 400;
    }

    #menu_wrapper {
        display: grid !important;
    }
    #category .row-name, .row-image-wrap, #recipes_by .row-name{
        border-radius: 0.25rem;
        font-size: medium;
    }
    #category, #recipes_by{
        margin: 0.5rem;
    }
    .row-image-wrap figcaption{
        padding: 0;
        font-size: x-small;
    }
    .row-image-wrap .overlay{
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    }
    .to-go-arrow{
        display: none;
    }

}

/* Small Screen Styles (e.g., mobile devices) */
@media (min-width: 350px) and (max-width: 767px) {
    #website_logo{
        position: relative;
    }
    /* Adjust the logo size and spacing for small screens */
    .website-logo{
        height: 50px;
        width: 50px;
        margin: 0 0.5rem;
    }
    #header_container{
        display: flex;
        align-items: center;
    }
    
    .menu-header-wrapper img{
        height: 24px;
        width: 24px;
    }

    /* Adjust font size and spacing for small screens */
    .website-name {
        display: none;
        font-size: 24px;
        margin-right: 0.5rem;
    }

    /* Adjust padding for small screens */
    .category-item {
        padding: 0.5rem;
        font-size: x-small;
    }

    #card_wrap{
        height: 70%;
        bottom: 0;
        text-align: center;
    }
    /* Adjust card dimensions and font size for small screens */
    .recipe-card {
        width: 15rem; /* Take full width on small screens */
        height: 7rem;
        border-radius: 0.25rem;
    }
    .recipe-overlay{
        border-radius: 0.25rem;
    }

    .handwriting-animation {
        font-size: large;
        margin: 0 !important ;

    }
    .handwriting-animation h4, hr, .top-recipes-text{
        display: none;

    }
    .tag-line{
        font-size: xx-small;
    }
    /* Adjust search input width for small screens */
    #search_recipes {
        width: 180px;
        height: 36px;
        border-radius: 0.25rem;
    }
    #search_recipes::placeholder{
        font-weight: bold;
        font-size: medium;
    }
    #card_wrap{
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
    #popular_recipes{
        margin: 0 !important;
    }
    .top-recipes-text{
        font-size: xx-small;
        margin: 0;
        text-align: end !important;
    }
    .recipe-desc{
        top: 30%;
        bottom: 30%;
    }
    .line1, .recipe-name, .chef-name{
        margin: 0;
    }
    .line1{
        font-size: xx-small;
    
    }
    .chef-name{
        font-size: xx-small;
    }
    .recipe-name{
        font-size: large;
        font-weight: 400;
    }
    #menu_wrapper{
        display: grid !important;
    }
    #category .row-name, .row-image-wrap, #recipes_by .row-name{
        border-radius: 0.25rem;
        font-size: medium;
    }
    #category, #recipes_by{
        margin: 1rem;
    }
    .row-image-wrap figcaption{
        padding: 0;
        font-size: x-small;
    }
    .row-image-wrap .overlay{
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    }
    .to-go-arrow{
        display: none;
    }
}

/* Medium Screen Styles (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Adjust logo size and spacing for medium screens */
    #website_logo{
        position: relative;
    }
    .website-logo {
        height: 75px;
        width: 75px;
        margin: 0 1rem;
    }

    /* Adjust font size and spacing for medium screens */
    .website-name {
        font-size: 36px;
        margin-right: 1rem;
    }

    #header_container{
        display: flex;
        align-items: center;
    }
    .search-box img{
        display: none;
    }

    /* Adjust padding for medium screens */
    .category-item {
        padding: 1rem;
    }

    /* Adjust card dimensions and font size for medium screens */
    .recipe-card {
        width: 100%; /* Use a percentage of the width */
        height: 15rem;
        border-radius: 0.5rem;
    }
    .recipe-overlay{
        border-radius: 0.5rem;
    }

    .handwriting-animation {
        font-size: 48px;
    }
    .top-recipes-text{
        font-size: -small;
        margin: 0;
        text-align: end !important;
    }
    .tag-line{
        font-size: small;
    }
    .line1{
        font-size: small;
    }
    .recipe-name{
        font-size: x-large;
    }
    .chef-name{
        font-size: xx-small;
    }
    #card_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Adjust search input width for medium screens */
    #search_recipes {
        width: 250px;
    }
}

/* Large Screen Styles (e.g., desktops) */
@media (min-width: 1024px) and (max-width: 1256px) {
    /* No changes needed for large screens, keep the base styles */
    #website_logo{
        position: relative;
    }
    #header_container{
        display: flex;
        align-items: center;
    }
    .search-box img{
        display: none;
    }
    #card_wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
